#contact {
    background:blue;
}

.contact_1 a {
    color: black;
    text-shadow: none;
    width: 100%;
}

.contact_1 h3 {
    display: inline;
}

#contact iframe {
    width: 100%
}

#image{
    width:1250px;
}

body{
    text-align:center;
}

.movie_head{
   font-size:20px;
    padding:6px 22px;
    border-radius:10px;
    margin-bottom:15px;
    width:100%;
    display:inline-block:
}

.movie_head i{
    float:right;
}

.movie_text span{
    color:#ff7700;
}